### Q2. 숫자형 변수로만 구성된 자료(데이터프레임)과 행번호 i와 j 두 값을 입력하면, 해당 데이터프레임의 i행 자료와 j행 자료에 대한 유클리드 거리, 표준화 거리, 마할라노비스 거리를 계산해주는 함수 MultiDist를 만든 뒤, cork 자료의 1행과 2행에 대한 세 종류의 거리를 아래와 같이 도출하여라. 단, 거리 계산을 위한 R의 내장함수(dist, mahalanobis 등)을 이용하지 말고, 자료로부터 직접 계산하도록 코드를 작성해 볼 것.

In [4]:
 #install.packages("Flury")
library(Flury)

In [14]:
data(cork)
head(cork) ; class(cork)
cork.m <- as.matrix(cork)

  North East South West
1 72    66   76    77
2 60    53   66    63
3 56    57   64    58
4 41    29   36    38
5 32    32   35    36
6 30    35   34    26

[1] "data.frame"

#### sample

In [55]:
# 유클리드 거리

uclid.dist=0
for(j in 1:ncol(cork.m)){
    uclid.dist = uclid.dist + (cork.m[1,j]-cork.m[2,j])^2
}
sqrt(uclid.dist)

[1] 24.67793

In [67]:
# 마할라노비스 거리
cv <- cov(cork.m); cv

a <- cork.m[1,] - cork.m[2,]
sqrt(t(a)%*%solve(cv)%*%a)

      North    East     South    West
North 290.4061 223.7526 288.4378 226.2712
East  223.7526 219.9299 229.0595 171.3743
South 288.4378 229.0595 350.0040 259.5410
West  226.2712 171.3743 259.5410 226.0040

     [,1]
[1,] 1.487651

In [81]:
# 표준화거리
b<-t(a)%*%solve(diag(diag(cv)))%*%a
sqrt(b)

     [,1]
[1,] 1.554746

#### method

In [85]:
MultiDist <- function( df, i=1, j=2){
    
    df  <- as.matrix(df)
    
    ## UclidDist
    
    a=0
    for(k in 1:ncol(df)){
        a = a + (df[i,k]-df[j,k])^2
    }
    uclid.dist <- sqrt(a)

    ## Mahalnobis
    
    cv <- cov(df)

    dist <- df[i,] - cork.m[j,]
    mahal.Dist <- sqrt(t(dist)%*%solve(cv)%*%dist)
    
    
    ## Standardize
    
    D <- diag(diag(cv))
    sd.Dist <- sqrt(t(dist)%*%solve(D)%*%dist)
    
    myung <- list(uclid.dist, mahal.Dist, sd.Dist)
    
    names(myung) <- c("Uclid.Dist", "Mahal.Dist", "Sd.Dist")
    
    return(myung)
}

In [86]:
MultiDist(cork)

$Uclid.Dist
[1] 24.67793

$Mahal.Dist
         [,1]
[1,] 1.487651

$Sd.Dist
         [,1]
[1,] 1.554746